/*My resume stylesheet */
body {
    font-family:'Jacques Francois', Arial;
    font-size:95%;
    padding-left:7%;
    padding-right:7%;
    margin-bottom:1.5cm;
    margin-top:1.5cm;
}

/*Determine the name color and size*/
#name {
    text-decoration:none;
    font-size:250%;
    color:black;
}

#name:hover {
    color:#cc0000;
}

a {
    transition:color 1s ease;
}

a:hover {
    color:#cc0000;
}

/*Specifies lines of the specified color, height, and width*/
hr {
    background-color:gold;
    border-color:gold;
    height:2px;
    margin-top:1em;
    margin-bottom:-.5em;
}

bold {
    font-weight:bold;
}

/* when the paragraph wraps to a new line, this keeps the hr line spacing equal */
wrapped hr {
    background-color:gold;
    border-color:gold;
    height:2px;
    margin-top:1.5em;
    margin-bottom:-.5em;
}

/*Aligns all elements within a paragraph and within right to the right side of the page*/
p right {
    float:right;
}

p {
    margin-bottom:-1em;
}

ul {
    margin-bottom:-.5em;
    list-style-type: square;
}

div {
    border-left:2px solid black;
    padding-right:1em;
    padding-left:1em;
    float:right;
}

#courses li {
    float:left;
    width:50%;
}