<!DOCTYPE html>
<html>
<head>
{% include head.html %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="JavaScript" src="{{ site.url }}/assets/js/quotes.js"></script>
<script> var quoteInterval =  setInterval(function () {getQuotes()}, 7000); </script>
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage" onload="getQuote(0); addButtons()">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        
        
        <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
      <div class="notepad-site-head-bg"></div>
      <h1 class="notepad-blog-title">
        <span class="notepad-site-head-title-bg">
          {{ site.title }}
        </span>
      </h1>
      <!-- First quote is automatically grabbed from quotes.txt -->
      <h2 id="quote" data-current="0"></h2>
    </div>
    <!-- Buttons are automatically added on load based on the number of quotes in quotes.txt -->
    <div class="button-container"></div>

</header>

<h2 class="post-description"> {{ page.post_description }} </h2>
<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>
